{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>Django project</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

	<h1>FUNDAMENTOS DEL LENGUAJE</h1>
	<h2>1.1 Programacion orientada a eventos.</h2>
	<h3>Es un paradigma de programación en el que la estructura y la ejecución de los programas van determinados por los sucesos o acciones que ocurren en el sistema, definidos por el usuario o por el propio sistema.</h3>
   
    <h2>1.2 Objetos controles y componentes.</h2>
    <h3>Un objeto es todo lo que se puede colocar en la mesa de trabajo. Los controles (o elementos de diseño de la interfaz de usuario) son los componentes visibles de un prototipo.</h3>
   
    <h2>1.3Tecnologia .NET </h2>
    <h3>Es una plataforma para el desarrollo de software para poder desarrollar aplicaciones y sistemas que fueran independientes de la arquitectura física y del sistema operativo sobre el que se ejecutaran.</h3>
   
    <h2>1.4 Entorno integrado de desarrollo.</h2>
    <h3>Un entorno de desarrollo integrado, llamado también IDE es un programa informático compuesto por un conjunto de herramientas de programación.</h3>
   
    <h2>1.5 Tipos de proyectos.</h2>
    <h3>Proyectos de infrestructura, proyectos de investigación, proyectos sociales.</h3>

   
    <h2>1.6 Espacios de nombres.</h2>
    <h3>Un espacio de nombres es un contenedor abstracto en el que un grupo de uno o más identificadores únicos pueden existir.</h3>

    <h2>1.7 Estructuras propias del lenguaje.</h2> 
    <h3>Conjunto de símbolos y palabras (vocabulario o léxico) y conjunto de reglas (sintaxis y semántica) que permiten agrupar los símbolos para formar las frases del lenguaje</h3>

</body>
</html>
